.h1 {
    font-size: 1rem;
    font-weight: normal;
    font-family: 'Quattrocento Sans',sans-serif;
    margin-top: 0;
}

.h2 {
    font-size: 1rem;
}

.paper {
    padding: 1rem;
    background-color: #f2f2f2 !important;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.col {
    margin-bottom: 1rem;
    padding-left: 0 !important;
}

.textfield {
    background-color: #fff;
}

.button {
    height: 3rem;
}
